# Data Wrangling for WeRateDogs Twitter archive

## Table of Contents

<ul>
<li><a href=\"#intro\">1 Introduction</a></li>
<li><a href=\"#wrangling\">2 Data Wrangling</a></li>
<li><a href=\"#eda\">3 Exploratory Data Analysis</a></li>
<li><a href=\"#conclusions\">4 Conclusion and limitations</a></li>
<li><a href=\"#Appendix\">5 Appendix</a></li>
</ul>

<a id='intro'></a>
## 1 Introduction
> This sub project is for data wrangling process of the 'Wrangling and Analyze Data' project. As the rule of thumb, this project has three components, gathering data, assessing data and cleaning data. Moreover, in the vary end of this notebook, I will store the cleaning data in .csv files for analysis and visualization later on.

In [1]:
import numpy as np
import pandas as pd
import requests
import io
import tweepy
from tweepy import OAuthHandler
import json
import timeit
import config # info of twitter API secrets and keys
import re
import datetime
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns

## 2 Gathering Data
There are three data resources:
* Manually download: `twitter_archive_enhanced.csv`
* Derive from Udacity's servers: `image_predictions.tsv`
* Derive by Tweepy: `tweet_json.txt`

>`twitter_archive_enhanced.csv`: This file is downloaded manually and stores under the same path of this notebook for accessibility.

>`image_predictions.tsv`: This file is obtained using requests library in [section 2.1](need a html link here)

>`tweet_json.txt`: This file is obtained using requests library in [section 2.2](need a html link here)

### 2.1 Read `twitter_archive_enhanced.csv` from Udacity's servers

In [2]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

### 2.1 Extract `image_predictions.tsv` from Udacity's servers

In [3]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
urlData = requests.get(url).content
img_pred = pd.read_csv(io.StringIO(urlData.decode('utf-8')),sep='\t')

In [4]:
img_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

### 2.2 Extract data using twitter API

In [5]:
consumer_key = config.consumer_key
consumer_secret = config.consumer_secret
access_token = config.access_token
access_secret = config.access_secret

In [6]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

In [7]:
# start = timeit.timeit() # set up a timer
# fails_dict={} # collect deleted ids
# count = 0 # get the processing status
# with open('tweet_json.txt', 'w') as outfile:
#     for twt_id in img_pred['tweet_id']:
#         try:
#             tweet = api.get_status(twt_id,tweet_mode='extended',wait_on_rate_limit=True,wait_on_rate_limit_notify=True)
#             print('{} record success'.format(count),end="\r")
#             json.dump(tweet._json, outfile)
#             outfile.write('\n')
#         except tweepy.TweepError as e:
#             print('Fail',end="\r")
#             fails_dict[twt_id] = e
#             pass
#         count += 1
# end = timeit.timeit()

In [8]:
df_api = pd.DataFrame(columns=['id','display_text_range','retweet_count','favorite_count'])
with open('tweet_json.txt') as json_file:
    for line in json_file:
        data_str = json.loads(line)
        data_parse = pd.DataFrame.from_dict(data_str,orient="index")
        data_interested = data_parse[0][['id','display_text_range','retweet_count','favorite_count']]
        df_api = df_api.append(data_interested,ignore_index=True)

In [9]:
df_api.head()

                   id display_text_range retweet_count favorite_count
0  666020888022790149           [0, 131]           466           2434
1  666029285002620928           [0, 139]            42            121
2  666033412701032449           [0, 130]            41            113
3  666044226329800704           [0, 137]           133            274
4  666049248165822465           [0, 120]            41             99

## 3 Data Wrangling
In the previous section, three tables are generated from different sources. In this sections, each table is carefully assessed and cleaned. The three dataframes are listed below:

* `twitter_archive`: retrieved from a .csv file
* `img_pred`: retrieved from Udacity server
* `df_api`: retrieved from twitter

### 3.1 Data Assesssing

#### 3.1.1 Data Assessing: `twitter_archive` table
**Quality issues**
* more than 50% of NAN values in columns related `in_reply_to` and `retweeted_status`
* redundant information in `source` column.
* Nones in columns `['doggo','floofer','pupper','puppo']`
* incorrect ratings
* incorrect ['doggo','floofer','pupper','puppo']
* Erroneous datatypes(timestamp,source,doggo,floofer,pupper,puppo)
* incorrect name for the dogs with name 'a' or 'None', some of them have a name and so of them do not have a name.
* contains retweeted tweets (without image)

**Tidniess issues**
* Text column contains multiple variables: text, rate and url

In [10]:
twitter_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [11]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [12]:
twitter_archive.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [13]:
for i in range(0,100):
    print('record index: '+ str(i) + '\n'+ twitter_archive.text[i] + '\nstage: ' + twitter_archive.puppo[i])

record index: 0
This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU
stage: None
record index: 1
This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV
stage: None
record index: 2
This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB
stage: None
record index: 3
This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ
stage: None
record index: 4
This is Franklin. He would like you to stop calling him "cute." He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f
stage: None
record index: 5
Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh
stage: None
record index: 6
Meet Jax. He enjoys ice cream so much he gets nervous around it. 13/10 help Jax enjoy more things by clicking below

https://t.co/Zr4hWfAs1H https://t.co/tVJBRMnhxl
stage: None
record index: 7
When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq
stage: None
record index: 8
This is Zoey. She doesn't want to be one of the scary sharks. Just wants to be a snuggly pettable boatpet. 13/10 #BarkWeek https://t.co/9TwLuAGH0b
stage: None
record index: 9
This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate https://t.co/t1bfwz5S2A
stage: None
record index: 10
This is Koda. He is a South Australian deckshark. Deceptively deadly. Frighteningly majestic. 13/10 would risk a petting #BarkWeek https://t.co/dVPW0B0Mme
stage: None
record index: 11
This is Bruno. He is a service shark. Only gets out of the water to assist you. 13/10 terrifyingly good boy https://t.co/u1XPQMl29g
stage: None
record index: 12
Here's a puppo that seems to be on the fence about something haha no but seriously someone help her. 13/10 https://t.co/BxvuXk0UCm
stage: puppo
record index: 13
This is Ted. He does his best. Sometimes that's not enough. But it's ok. 12/10 would assist https://t.co/f8dEDcrKSR
stage: None
record index: 14
This is Stuart. He's sporting his favorite fanny pack. Secretly filled with bones only. 13/10 puppared puppo #BarkWeek https://t.co/y70o6h3isq
stage: puppo
record index: 15
This is Oliver. You're witnessing one of his many brutal attacks. Seems to be playing with his victim. 13/10 fr*ckin frightening #BarkWeek https://t.co/WpHvrQedPb
stage: None
record index: 16
This is Jim. He found a fren. Taught him how to sit like the good boys. 12/10 for both https://t.co/chxruIOUJN
stage: None
record index: 17
This is Zeke. He has a new stick. Very proud of it. Would like you to throw it for him without taking it. 13/10 would do my best https://t.co/HTQ77yNQ5K
stage: None
record index: 18
This is Ralphus. He's powering up. Attempting maximum borkdrive. 13/10 inspirational af https://t.co/YnYAFCTTiK
stage: None
record index: 19
RT @dog_rates: This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX
stage: None
record index: 20
This is Gerald. He was just told he didn't get the job he interviewed for. A h*ckin injustice. 12/10 didn't want the job anyway https://t.co/DK7iDPfuRX
stage: None
record index: 21
This is Jeffrey. He has a monopoly on the pool noodles. Currently running a 'boop for two' midweek sale. 13/10 h*ckin strategic https://t.co/PhrUk20Q64
stage: None
record index: 22
I've yet to rate a Venezuelan Hover Wiener. This is such an honor. 14/10 paw-inspiring af (IG: roxy.thedoxy) https://t.co/20VrLAA8ba
stage: None
record index: 23
This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX
stage: None
record index: 24
You may not have known you needed to see this today. 13/10 please enjoy (IG: emmylouroo) https://t.co/WZqNqygEyV
stage: None
record index: 25
This... is a Jubilant Antarctic House Bear. We only rate dogs. Please only send dogs. Thank you... 12/10 would suffocate in floof https://t.co/4Ad1jzJSdp
stage: None
record index: 26
This is Maya. She's very shy. Rarely leaves her cup. 13/10 would find her an environment to thrive in https://t.co/I6oNy0CgiT
stage: None
record index: 27
This is Mingus. He's a wonderful father to his smol pup. Confirmed 13/10, but he needs your help

https://t.co/bVi0Yr4Cff https://t.co/ISvKOSkd5b
stage: None
record index: 28
This is Derek. He's late for a dog meeting. 13/10 pet...al to the metal https://t.co/BCoWue0abA
stage: None
record index: 29
This is Roscoe. Another pupper fallen victim to spontaneous tongue ejections. Get the BlepiPen immediate. 12/10 deep breaths Roscoe https://t.co/RGE08MIJox
stage: None
record index: 30
@NonWhiteHat @MayhewMayhem omg hello tanner you are a scary good boy 12/10 would pet with extreme caution
stage: None
record index: 31
This is Waffles. His doggles are pupside down. Unsure how to fix. 13/10 someone assist Waffles https://t.co/xZDA9Qsq1O
stage: None
record index: 32
RT @Athletics: 12/10 #BATP https://t.co/WxwJmvjfxo
stage: None
record index: 33
Viewer discretion advised. This is Jimbo. He will rip ur finger right h*ckin off. Other dog clearly an accessory. 12/10 pls pet with caution https://t.co/BuveP0uMF1
stage: None
record index: 34
This is Maisey. She fell asleep mid-excavation. Happens to the best of us. 13/10 would pat noggin approvingly https://t.co/tp1kQ8i9JF
stage: None
record index: 35
I have a new hero and his name is Howard. 14/10 https://t.co/gzLHboL7Sk
stage: None
record index: 36
RT @dog_rates: This is Lilly. She just parallel barked. Kindly requests a reward now. 13/10 would pet so well https://t.co/SATN4If5H5
stage: None
record index: 37
Here we have a corgi undercover as a malamute. Pawbably doing important investigative work. Zero control over tongue happenings. 13/10 https://t.co/44ItaMubBf
stage: None
record index: 38
This is Earl. He found a hat. Nervous about what you think of it. 12/10 it's delightful, Earl https://t.co/MYJvdlNRVa
stage: None
record index: 39
This is Lola. It's her first time outside. Must test the earth and taste the atmosphere. 13/10 you're doing great Lola https://t.co/74TKAUsLkO
stage: None
record index: 40
This is Kevin. He's just so happy. 13/10 what is your secret Kevin https://t.co/1r4MFCbCX5
stage: None
record index: 41
I present to you, Pup in Hat. Pup in Hat is great for all occasions. Extremely versatile. Compact as h*ck. 14/10 (IG: itselizabethgales) https://t.co/vvBOcC2VdC
stage: None
record index: 42
OMG HE DIDN'T MEAN TO HE WAS JUST TRYING A LITTLE BARKOUR HE'S SUPER SORRY 13/10 WOULD FORGIVE IMMEDIATE https://t.co/uF3pQ8Wubj
stage: None
record index: 43
Meet Yogi. He doesn't have any important dog meetings today he just enjoys looking his best at all times. 12/10 for dangerously dapper doggo https://t.co/YSI00BzTBZ
stage: None
record index: 44
This is Noah. He can't believe someone made this mess. Got the vacuum out for you though. Offered to help clean pup. 12/10 super good boy https://t.co/V85xujjDDY
stage: None
record index: 45
This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948
stage: None
record index: 46
Meet Grizzwald. He may be the floofiest floofer I ever did see. Lost eyes saving a schoolbus from a volcano erpuption. 13/10 heroic as h*ck https://t.co/rf661IFEYP
stage: None
record index: 47
Please only send dogs. We don't rate mechanics, no matter how h*ckin good. Thank you... 13/10 would sneak a pat https://t.co/Se5fZ9wp5E
stage: None
record index: 48
This is Rusty. He wasn't ready for the first pic. Clearly puppared for the second. 13/10 confirmed great boy https://t.co/tyER0KpdXj
stage: None
record index: 49
This is Gus. He's quite the cheeky pupper. Already perfected the disinterested wink. 12/10 would let steal my girl https://t.co/D43I96SlVu
stage: None
record index: 50
This is Stanley. He has his first swim lesson today. Doggle straps adjusted. Ready to go. 13/10 Phelps is nervous (IG: stanleythe_corgi) https://t.co/Nx52PGwH94
stage: None
record index: 51
This is Alfy. You're witnessing his first watermelon experience. I think it was a success. 13/10 happy 4th Alfy 🇺🇸 https://t.co/fYP5RlutfA
stage: None
record index: 52
This is Koko. Her owner, inspired by Barney, recently built a cart for her to use during walks if she got tired. 13/10 rest easy Koko https://t.co/zeDpnsKX7w
stage: None
record index: 53
This is Rey. He's a Benebop Cumberfloof. 12/10 dangerously pettable https://t.co/503CgWbhxQ
stage: None
record index: 54
This is Gary. He couldn't miss this puppertunity for a selfie. Flawless focusing skills. 13/10 would boop intensely https://t.co/7CSWCl8I6s
stage: None
record index: 55
@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s
stage: None
record index: 56
Here is a pupper approaching maximum borkdrive. Zooming at never before seen speeds. 14/10 paw-inspiring af
(IG: puffie_the_chow) https://t.co/ghXBIIeQZF
stage: None
record index: 57
Meet Elliot. He's a Canadian Forrest Pup. Unusual number of antlers for a dog. Sneaky tongue slip to celebrate #Canada150. 12/10 would pet https://t.co/cgwJwowTMC
stage: None
record index: 58
This is Louis. He's crossing. It's a big deal. 13/10 h*ckin breathtaking https://t.co/D0wb1GlKAt
stage: None
record index: 59
Ugh not again. We only rate dogs. Please don't send in well-dressed  floppy-tongued street penguins. Dogs only please. Thank you... 12/10 https://t.co/WiAMbTkDPf
stage: None
record index: 60
This is Bella. She had her first beach experience this morning. Complete success. 12/10 would perform a sandy boop https://t.co/4VsFysDmiw
stage: None
record index: 61
Meet Jesse. He's a Fetty Woof. His tongue ejects without warning. A true bleptomaniac. 12/10 would snug well https://t.co/fUod0tVmvK
stage: None
record index: 62
Please don't send in photos without dogs in them. We're not @porch_rates. Insubordinate and churlish. Pretty good porch tho 11/10 https://t.co/HauE8M3Bu4
stage: None
record index: 63
This is Romeo. He would like to do an entrance. Requesting your immediate assistance. 13/10 https://t.co/Qh5aEkRQm9
stage: None
record index: 64
@RealKentMurphy 14/10 confirmed
stage: None
record index: 65
This is Bailey. He thinks you should measure ear length for signs of growth instead. 12/10 https://t.co/IxM9IMKQq8
stage: None
record index: 66
This is Duddles. He did an attempt. 13/10 someone help him (vid by Georgia Felici) https://t.co/UDT7ZkcTgY
stage: None
record index: 67
This is Jack AKA Stephen Furry. You're not scoring on him. Unless he slips down the slide. 12/10 would happily get blocked by https://t.co/0gOi601EAa
stage: None
record index: 68
RT @dog_rates: This is Emmy. She was adopted today. Massive round of pupplause for Emmy and her new family. 14/10 for all involved https://…
stage: None
record index: 69
This is Steven. He has trouble relating to other dogs. Quite shy. Neck longer than average. Tropical probably. 11/10 would still pet https://t.co/2mJCDEJWdD
stage: None
record index: 70
This is Beau. That is Beau's balloon. He takes it everywhere. 13/10 would protect at all costs https://t.co/YDtpCjIPKN
stage: None
record index: 71
This is Snoopy. He's a proud #PrideMonthPuppo. Impeccable handwriting for not having thumbs. 13/10 would love back #PrideMonth https://t.co/lNZwgNO4gS
stage: puppo
record index: 72
Martha is stunning how h*ckin dare you. 13/10 https://t.co/9uABQXgjwa
stage: None
record index: 73
RT @dog_rates: Meet Shadow. In an attempt to reach maximum zooming borkdrive, he tore his ACL. Still 13/10 tho. Help him out below

https:/…
stage: None
record index: 74
RT @dog_rates: Meet Terrance. He's being yelled at because he stapled the wrong stuff together. 11/10 hang in there Terrance https://t.co/i…
stage: None
record index: 75
Meet Shadow. In an attempt to reach maximum zooming borkdrive, he tore his ACL. Still 13/10 tho. Help him out below

https://t.co/245xJJElsY https://t.co/lUiQH219v6
stage: None
record index: 76
This is Emmy. She was adopted today. Massive round of pupplause for Emmy and her new family. 14/10 for all involved https://t.co/cwtWnHMVpe
stage: None
record index: 77
This is Aja. She was just told she's a good dog. Suspicions confirmed. 13/10 would tell again https://t.co/lsPyyAiF1r
stage: None
record index: 78
RT @rachel2195: @dog_rates the boyfriend and his soaking wet pupper h*cking love his new hat 14/10 https://t.co/dJx4Gzc50G
stage: None
record index: 79
This is Penny. She's both pupset and fired pup. Not pleased w your barbaric attempts at cleanliness. 12/10 would enjoy more shampoo options https://t.co/OYdDlfOGXP
stage: None
record index: 80
Meet Dante. At first he wasn't a fan of his new raincoat, then he saw his reflection. H*ckin handsome. 13/10 for water resistant good boy https://t.co/SHRTIo5pxc
stage: None
record index: 81
This is Nelly. He graduated with his dogtorate today. Wants to know if you're proud of him. 12/10 would give congratulatory boop https://t.co/4g4cfj3P4Y
stage: None
record index: 82
This is Ginger. She's having a ruff Monday. Too many pupper things going on. H*ckin exhausting. 12/10 would snug passionately https://t.co/j211oCDRs6
stage: None
record index: 83
I can say with the pupmost confidence that the doggos who assisted with this search are heroic as h*ck. 14/10 for all https://t.co/8yoc1CNTsu
stage: None
record index: 84
This is Benedict. He wants to thank you for this delightful urban walk. Hopes you know he loves you. 13/10 super duper good boy https://t.co/26BXueUgbs
stage: None
record index: 85
Meet Venti, a seemingly caffeinated puppoccino. She was just informed the weekend would include walks, pats and scritches. 13/10 much excite https://t.co/ejExJFq3ek
stage: None
record index: 86
This is Goose. He's a womanizer. Cheeky as h*ck, but also deep. Tongue slip game on another level. 13/10 will steal your girl https://t.co/V2WlACRJCN
stage: None
record index: 87
Meet Nugget and Hank. Nugget took Hank's bone. Hank is wondering if you would please return it to him. Both 13/10 would not intervene https://t.co/ogith9ejNj
stage: None
record index: 88
You'll get your package when that precious man is done appreciating the pups. 13/10 for everyone https://t.co/PFp4MghzBW
stage: None
record index: 89
Guys please stop sending pictures without any dogs in th- oh never mind hello excuse me sir. 12/10 stealthy as h*ck https://t.co/brCQoqc8AW
stage: None
record index: 90
Meet Cash. He hath acquired a stick. A very good stick tbh. 12/10 would pat head approvingly https://t.co/lZhtizkURD
stage: None
record index: 91
RT @dog_rates: This is Coco. At first I thought she was a cloud but clouds don't bork with such passion. 12/10 would hug softly https://t.c…
stage: None
record index: 92
This is Jed. He may be the fanciest pupper in the game right now. Knows it too. 13/10 would sign modeling contract https://t.co/0YplNnSMEm
stage: None
record index: 93
I can't believe this keeps happening. This, is a birb taking a bath. We only rate dogs. Please only send dogs. Thank you... 12/10 https://t.co/pwY9PQhtP2
stage: None
record index: 94
This is Sebastian. He can't see all the colors of the rainbow, but he can see that this flag makes his human happy. 13/10 #PrideMonth puppo https://t.co/XBE0evJZ6V
stage: puppo
record index: 95
RT @dog_rates: This is Walter. He won't start hydrotherapy without his favorite floatie. 14/10 keep it pup Walter https://t.co/r28jFx9uyF
stage: None
record index: 96
We usually don't rate Deck-bound Saskatoon Black Bears, but this one is h*ckin flawless. Sneaky tongue slip too. 13/10 would hug firmly https://t.co/mNuMH9400n
stage: None
record index: 97
RT @dog_rates: This is Sierra. She's one precious pupper. Absolute 12/10. Been in and out of ICU her whole life. Help Sierra below

https:/…
stage: None
record index: 98
This is Sierra. She's one precious pupper. Absolute 12/10. Been in and out of ICU her whole life. Help Sierra below

https://t.co/Xp01EU3qyD https://t.co/V5lkvrGLdQ
stage: None
record index: 99
Here's a very large dog. He has a date later. Politely asked this water person to check if his breath is bad. 12/10 good to go doggo https://t.co/EMYIdoblMR
stage: None

In [14]:
twitter_archive['doggo'].value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [15]:
twitter_archive['name'].value_counts()

None        745
a            55
Charlie      12
Lucy         11
Oliver       11
           ...
Marlee        1
Timofy        1
Kingsley      1
Beemo         1
Vixen         1
Name: name, Length: 957, dtype: int64

In [16]:
pd.set_option('display.max_colwidth', -1)
twitter_archive[twitter_archive.name == 'a'].text

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

56      Here is a pupper approaching maximum borkdrive. Zooming at never before seen speeds. 14/10 paw-inspiring af \n(IG: puffie_the_chow) https://t.co/ghXBIIeQZF
649     Here is a perfect example of someone who has their priorities in order. 13/10 for both owner and Forrest https://t.co/LRyMrU7Wfq
801     Guys this is getting so out of hand. We only rate dogs. This is a Galapagos Speed Panda. Pls only send dogs... 10/10 https://t.co/8lpAGaZRFn
1002    This is a mighty rare blue-tailed hammer sherk. Human almost lost a limb trying to take these. Be careful guys. 8/10 https://t.co/TGenMeXreW
1004    Viewer discretion is advised. This is a terrible attack in progress. Not even in water (tragic af). 4/10 bad sherk https://t.co/L3U0j14N5R
1017    This is a carrot. We only rate dogs. Please only send in dogs. You all really should know this by now ...11/10 https://t.co/9e48aPrBm2
1049    This is a very rare Great Alaskan Bush Pupper. Hard to stumble upon without spooking. 12/10 would pet passionately https://t.co/xOBKCdpzaa
1193    People please. This is a Deadly Mediterranean Plop T-Rex. We only rate dogs. Only send in dogs. Thanks you... 11/10 https://t.co/2ATDsgHD4n
1207    This is a taco. We only rate dogs. Please only send in dogs. Dogs are what we rate. Not tacos. Thank you... 10/10 https://t.co/cxl6xGY8B9
1340    Here is a heartbreaking scene of an incredible pupper being laid to rest. 10/10 RIP pupper https://t.co/81mvJ0rGRu
1351    Here is a whole flock of puppers.  60/50 I'll take the lot https://t.co/9dpcw6MdWa
1361    This is a Butternut Cumberfloof. It's not windy they just look like that. 11/10 back at it again with the red socks https://t.co/hMjzhdUHaW
1368    This is a Wild Tuscan Poofwiggle. Careful not to startle. Rare tongue slip. One eye magical. 12/10 would def pet https://t.co/4EnShAQjv6
1382    "Pupper is a present to world. Here is a bow for pupper." 12/10 precious as hell https://t.co/ItSsE92gCW
1499    This is a rare Arctic Wubberfloof. Unamused by the happenings. No longer has the appetites. 12/10 would totally hug https://t.co/krvbacIX0N
1737    Guys this really needs to stop. We've been over this way too many times. This is a giraffe. We only rate dogs.. 7/10 https://t.co/yavgkHYPOC
1785    This is a dog swinging. I really enjoyed it so I hope you all do as well. 11/10 https://t.co/Ozo9KHTRND
1853    This is a Sizzlin Menorah spaniel from Brooklyn named Wylie. Lovable eyes. Chiller as hell. 10/10 and I'm out.. poof https://t.co/7E0AiJXPmI
1854    Seriously guys?! Only send in dogs. I only rate dogs. This is a baby black bear... 11/10 https://t.co/H7kpabTfLj
1877    C'mon guys. We've been over this. We only rate dogs. This is a cow. Please only submit dogs. Thank you...... 9/10 https://t.co/WjcELNEqN2
1878    This is a fluffy albino Bacardi Columbia mix. Excellent at the tweets. 11/10 would hug gently https://t.co/diboDRUuEI
1923    This is a Sagitariot Baklava mix. Loves her new hat. 11/10 radiant pup https://t.co/Bko5kFJYUU
1941    This is a heavily opinionated dog. Loves walls. Nobody knows how the hair works. Always ready for a kiss. 4/10 https://t.co/dFiaKZ9cDl
1955    This is a Lofted Aphrodisiac Terrier named Kip. Big fan of bed n breakfasts. Fits perfectly. 10/10 would pet firmly https://t.co/gKlLpNzIl3
1994    This is a baby Rand Paul. Curls for days. 11/10 would cuddle the hell out of https://t.co/xHXNaPAYRe
2034    This is a Tuscaloosa Alcatraz named Jacob (Yacōb). Loves to sit in swing. Stellar tongue. 11/10 look at his feet https://t.co/2IslQ8ZSc7
2066    This is a Helvetica Listerine named Rufus. This time Rufus will be ready for the UPS guy. He'll never expect it 9/10 https://t.co/34OhVhMkVr
2116    This is a Deciduous Trimester mix named Spork. Only 1 ear works. No seat belt. Incredibly reckless. 9/10 still cute https://t.co/CtuJoLHiDo
2125    This is a Rich Mahogany Seltzer named Cherokee. Just got destroyed by a snowball. Isn't very happy about it. 9/10 https://t.co/98ZBi6o4dj
2128    This is a Speckled Cauliflower Yosemite named Hemry. He's terrified of intruder dog. Not one bit comfortable. 9/10 https://t.co/yV3Qgjh8iN
2146    This is a spotted Lipitor Rumpelstiltskin named Alphred. He can't wait for the Turkey. 10/10 would pet really well https://t.co/6GUGO7azNX
2153    This is a brave dog. Excellent free climber. Trying to get closer to God. Not very loyal though. Doesn't bark. 5/10 https://t.co/ODnILTr4QM
2161    This is a Coriander Baton Rouge named Alfredo. Loves to cuddle with smaller well-dressed dog. 10/10 would hug lots https://t.co/eCRdwouKCl
2191    This is a Slovakian Helter Skelter Feta named Leroi. Likes to skip on roofs. Good traction. Much balance. 10/10 wow! https://t.co/Dmy2mY2Qj5
2198    This is a wild Toblerone from Papua New Guinea. Mouth always open. Addicted to hay. Acts blind. 7/10 handsome dog https://t.co/IGmVbz07tZ
2211    Here is a horned dog. Much grace. Can jump over moons (dam!). Paws not soft. Bad at barking. 7/10 can still pet tho https://t.co/2Su7gmsnZm
2218    This is a Birmingham Quagmire named Chuk. Loves to relax and watch the game while sippin on that iced mocha. 10/10 https://t.co/HvNg9JWxFt
2222    Here is a mother dog caring for her pups. Snazzy red mohawk. Doesn't wag tail. Pups look confused. Overall 4/10 https://t.co/YOHe6lf09m
2235    This is a Trans Siberian Kellogg named Alfonso. Huge ass eyeballs. Actually Dobby from Harry Potter. 7/10 https://t.co/XpseHBlAAb
2249    This is a Shotokon Macadamia mix named Cheryl. Sophisticated af. Looks like a disappointed librarian. Shh (lol) 9/10 https://t.co/J4GnJ5Swba
2255    This is a rare Hungarian Pinot named Jessiga. She is either mid-stroke or got stuck in the washing machine. 8/10 https://t.co/ZU0i0KJyqD
2264    This is a southwest Coriander named Klint. Hat looks expensive. Still on house arrest :(\n9/10 https://t.co/IQTOMqDUIe
2273    This is a northern Wahoo named Kohl. He runs this town. Chases tumbleweeds. Draws gun wicked fast. 11/10 legendary https://t.co/J4vn2rOYFk
2287    This is a Dasani Kingfisher from Maine. His name is Daryl. Daryl doesn't like being swallowed by a panda. 8/10 https://t.co/jpaeu6LNmW
2304    This is a curly Ticonderoga named Pepe. No feet. Loves to jet ski. 11/10 would hug until forever https://t.co/cyDfaK8NBc
2311    This is a purebred Bacardi named Octaviath. Can shoot spaghetti out of mouth. 10/10 https://t.co/uEvsGLOFHa
2314    This is a golden Buckminsterfullerene named Johm. Drives trucks. Lumberjack (?). Enjoys wall. 8/10 would hug softly https://t.co/uQbZJM2DQB
2327    This is a southern Vesuvius bumblegruff. Can drive a truck (wow). Made friends with 5 other nifty dogs (neat). 7/10 https://t.co/LopTBkKa8h
2334    This is a funny dog. Weird toes. Won't come down. Loves branch. Refuses to eat his food. Hard to cuddle with. 3/10 https://t.co/IIXis0zta0
2347    My oh my. This is a rare blond Canadian terrier on wheels. Only $8.98. Rather docile. 9/10 very rare https://t.co/yWBqbrzy8O
2348    Here is a Siberian heavily armored polar bear mix. Strong owner. 10/10 I would do unspeakable things to pet this dog https://t.co/rdivxLiqEt
2350    This is a truly beautiful English Wilson Staff retriever. Has a nice phone. Privileged. 10/10 would trade lives with https://t.co/fvIbQfHjIe
2352    This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx
2353    Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR
2354    This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI
Name: text, dtype: object

####  3.1.2 Data Assessing: `img_pred` table

In [17]:
img_pred

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [18]:
img_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [19]:
img_pred.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17  1.203855     0.594548     1.345886e-01  6.032417e-02
std    6.785203e+16  0.561875     0.271174     1.006657e-01  5.090593e-02
min    6.660209e+17  1.000000     0.044333     1.011300e-08  1.740170e-10
25%    6.764835e+17  1.000000     0.364412     5.388625e-02  1.622240e-02
50%    7.119988e+17  1.000000     0.588230     1.181810e-01  4.944380e-02
75%    7.932034e+17  1.000000     0.843855     1.955655e-01  9.180755e-02
max    8.924206e+17  4.000000     1.000000     4.880140e-01  2.734190e-01

####  3.1.3 Data Assessing: `df_api` table
**Quality issues**
* '[]' and starting point of the range for `display_text_range`
* Erroneous datatypes `display_text_range`, `retweet_count` and `favorite_count`

In [20]:
df_api

                      id display_text_range retweet_count favorite_count
0     666020888022790149  [0, 131]           466           2434
1     666029285002620928  [0, 139]           42            121
2     666033412701032449  [0, 130]           41            113
3     666044226329800704  [0, 137]           133           274
4     666049248165822465  [0, 120]           41            99
...                  ...       ...           ..            ..
2054  891327558926688256  [0, 138]           8555          38021
2055  891689557279858688  [0, 79]            7926          39825
2056  891815181378084864  [0, 121]           3808          23699
2057  892177421306343426  [0, 138]           5752          31449
2058  892420643555336193  [0, 85]            7759          36489

[2059 rows x 4 columns]

In [21]:
df_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2059 non-null   object
 1   display_text_range  2059 non-null   object
 2   retweet_count       2059 non-null   object
 3   favorite_count      2059 non-null   object
dtypes: object(4)
memory usage: 64.5+ KB

### 3.2 Data Cleaning

In [22]:
twitter_archive_clean = twitter_archive.copy()
img_pred_clean = img_pred.copy()
df_api_clean = df_api.copy()

**Issue:** table `twitter_archive_clean` More than 50% of NAN values in columns related `in_reply_to` and `retweeted_status`.

**Define**: since these infomation is trivial for the later analysis, these columns are dropped.

In [23]:
labels =  ['in_reply_to_status_id','in_reply_to_user_id','retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp']
twitter_archive_clean = twitter_archive_clean.drop(columns = labels, axis = 1 )

In [24]:
# test
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   int64
 1   timestamp           2356 non-null   object
 2   source              2356 non-null   object
 3   text                2356 non-null   object
 4   expanded_urls       2297 non-null   object
 5   rating_numerator    2356 non-null   int64
 6   rating_denominator  2356 non-null   int64
 7   name                2356 non-null   object
 8   doggo               2356 non-null   object
 9   floofer             2356 non-null   object
 10  pupper              2356 non-null   object
 11  puppo               2356 non-null   object
dtypes: int64(3), object(9)
memory usage: 221.0+ KB

**Issue:** table `twitter_archive_clean` redundant information in `source` column

**Define:** remove the html tags using regular expression

In [25]:
twitter_archive_clean = twitter_archive_clean.replace({'source': r'<[^>]*>'}, {'source': ''}, regex=True)

In [26]:
# test
twitter_archive_clean.source.value_counts()

Twitter for iPhone     2221
Vine - Make a Scene    91
Twitter Web Client     33
TweetDeck              11
Name: source, dtype: int64

**Issue:** table `twitter_archive_clean`, `text` column contains multiple variables (text, rate, url)

**Define:** add a new column `Full_text` to store text, extract the text using regular expression

In [27]:
twitter_archive_clean['url'] = twitter_archive_clean.text.str.extract('(http.*)')
twitter_archive_clean['rate'] = twitter_archive_clean.text.str.extract('(\d+\/\d+)')

In [28]:
twitter_archive_clean['Full_text'] = twitter_archive_clean.text.str.replace('(http.*)','').str.replace('(\d+\/\d+)','')

In [29]:
# test I
twitter_archive_clean[['text','url','rate','Full_text']].sample(10)

,text,url,rate,Full_text
1188,"This pic is old but I hadn't seen it until today and had to share. Creative af. 13/10 very good boy, would pet well https://t.co/4kD16wMA1Z",https://t.co/4kD16wMA1Z,13/10,"This pic is old but I hadn't seen it until today and had to share. Creative af. very good boy, would pet well"
2327,This is a southern Vesuvius bumblegruff. Can drive a truck (wow). Made friends with 5 other nifty dogs (neat). 7/10 https://t.co/LopTBkKa8h,https://t.co/LopTBkKa8h,7/10,This is a southern Vesuvius bumblegruff. Can drive a truck (wow). Made friends with 5 other nifty dogs (neat).
958,Here's a pupper that's very hungry but too lazy to get up and eat. 12/10 (vid by @RealDavidCortes) https://t.co/lsVAMBq6ex,https://t.co/lsVAMBq6ex,12/10,Here's a pupper that's very hungry but too lazy to get up and eat. (vid by @RealDavidCortes)
1473,What kind of person sends in a pic without a dog in it? So churlish. Neat rug tho 7/10 https://t.co/LSTAwTdTaw,https://t.co/LSTAwTdTaw,7/10,What kind of person sends in a pic without a dog in it? So churlish. Neat rug tho
1613,I would like everyone to appreciate this pup's face as much as I do. 11/10 https://t.co/QIe7oxkSNo,https://t.co/QIe7oxkSNo,11/10,I would like everyone to appreciate this pup's face as much as I do.
619,This is Ruby. She just turned on the news. Officially terrified. 11/10 deep breaths Ruby https://t.co/y5KarNXWXt,https://t.co/y5KarNXWXt,11/10,This is Ruby. She just turned on the news. Officially terrified. deep breaths Ruby
581,RT @dog_rates: This is Sampson. He's about to get hit with a vicious draw 2. Has no idea. 11/10 poor pupper https://t.co/FYT9QBEnKG,https://t.co/FYT9QBEnKG,11/10,RT @dog_rates: This is Sampson. He's about to get hit with a vicious draw 2. Has no idea. poor pupper
879,This is Theo. He can walk on water. Still coming to terms with it. 12/10 magical af https://t.co/8Kmuj6SFbC,https://t.co/8Kmuj6SFbC,12/10,This is Theo. He can walk on water. Still coming to terms with it. magical af
160,RT @tallylott: h*ckin adorable promposal. 13/10 @dog_rates https://t.co/6n8hzNihJ9,https://t.co/6n8hzNihJ9,13/10,RT @tallylott: h*ckin adorable promposal. @dog_rates
1352,"""YOU CAN'T HANDLE THE TRUTH"" both 10/10 https://t.co/ZvxdB4i9AG",https://t.co/ZvxdB4i9AG,10/10,"""YOU CAN'T HANDLE THE TRUTH"" both"

In [30]:
# test II
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   int64
 1   timestamp           2356 non-null   object
 2   source              2356 non-null   object
 3   text                2356 non-null   object
 4   expanded_urls       2297 non-null   object
 5   rating_numerator    2356 non-null   int64
 6   rating_denominator  2356 non-null   int64
 7   name                2356 non-null   object
 8   doggo               2356 non-null   object
 9   floofer             2356 non-null   object
 10  pupper              2356 non-null   object
 11  puppo               2356 non-null   object
 12  url                 2286 non-null   object
 13  rate                2356 non-null   object
 14  Full_text           2356 non-null   object
dtypes: int64(3), object(12)
memory usage: 276.2+ KB

**Issue:** table `twitter_archive_clean` has incorrect ratings in `rating_numrating_numerator` and `rating_denominator`
**Define:** replace this two columns by splitting the values in `rates`.

In [31]:
twitter_archive_clean['rating_numerator'], twitter_archive_clean['rating_denominator'] = twitter_archive_clean.rate.str.split(pat = '/').str

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [32]:
twitter_archive_clean['rating_numerator'] = twitter_archive_clean['rating_numerator'].astype(int)
twitter_archive_clean['rating_denominator'] = twitter_archive_clean['rating_denominator'].astype(int)

In [33]:
# test
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   int64
 1   timestamp           2356 non-null   object
 2   source              2356 non-null   object
 3   text                2356 non-null   object
 4   expanded_urls       2297 non-null   object
 5   rating_numerator    2356 non-null   int32
 6   rating_denominator  2356 non-null   int32
 7   name                2356 non-null   object
 8   doggo               2356 non-null   object
 9   floofer             2356 non-null   object
 10  pupper              2356 non-null   object
 11  puppo               2356 non-null   object
 12  url                 2286 non-null   object
 13  rate                2356 non-null   object
 14  Full_text           2356 non-null   object
dtypes: int32(2), int64(1), object(12)
memory usage: 257.8+ KB

In [34]:
# test
twitter_archive_clean[['rating_numerator','rating_denominator']].describe()

       rating_numerator  rating_denominator
count  2356.000000       2356.000000
mean   13.126486         10.455433
std    45.876648         6.745237
min    0.000000          0.000000
25%    10.000000         10.000000
50%    11.000000         10.000000
75%    12.000000         10.000000
max    1776.000000       170.000000

**Issue:** table `twitter_archive_clean`, `timestamp` column has the incorrect data type.

**Define:** convert `timestamp` to datetime datatype

In [35]:
twitter_archive_clean.timestamp = pd.to_datetime(twitter_archive_clean.timestamp)

In [36]:
# test
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   int64
 1   timestamp           2356 non-null   datetime64[ns, UTC]
 2   source              2356 non-null   object
 3   text                2356 non-null   object
 4   expanded_urls       2297 non-null   object
 5   rating_numerator    2356 non-null   int32
 6   rating_denominator  2356 non-null   int32
 7   name                2356 non-null   object
 8   doggo               2356 non-null   object
 9   floofer             2356 non-null   object
 10  pupper              2356 non-null   object
 11  puppo               2356 non-null   object
 12  url                 2286 non-null   object
 13  rate                2356 non-null   object
 14  Full_text           2356 non-null   object
dtypes: datetime64[ns, UTC](1), int32(2), int64(1), object(11)
memory usage: 257.8+ KB

**Issue:** table `twitter_archive_clean`, `['doggo','floofer','pupper','puppo']` columns have the incorrect values.

**Define:** use contain to find the entries containing the key words in `Full_text` column. The key words are defined by regular expression. Then replace these columns with new values ('True's and 'False's)

In [37]:
pats = {'doggo':'[Dd][Oo][Gg][Gg][Oo]','floofer':'[Ff][Ll][Oo][Oo][Ff][Ee][Rr]',
       'pupper':'[Pp][Uu][Pp][Pp][Ee][Rr]', 'puppo':'[Pp][Uu][Pp][Pp][Oo]'}
for pat in pats.keys():
    pattern = pats[pat]
    twitter_archive_clean[pat] = twitter_archive_clean.Full_text.str.contains(pattern,regex = True)

In [38]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   int64
 1   timestamp           2356 non-null   datetime64[ns, UTC]
 2   source              2356 non-null   object
 3   text                2356 non-null   object
 4   expanded_urls       2297 non-null   object
 5   rating_numerator    2356 non-null   int32
 6   rating_denominator  2356 non-null   int32
 7   name                2356 non-null   object
 8   doggo               2356 non-null   bool
 9   floofer             2356 non-null   bool
 10  pupper              2356 non-null   bool
 11  puppo               2356 non-null   bool
 12  url                 2286 non-null   object
 13  rate                2356 non-null   object
 14  Full_text           2356 non-null   object
dtypes: bool(4), datetime64[ns, UTC](1), int32(2), int64(1), object(7)
memory usage: 193.4+ KB

In [39]:
# test
twitter_archive_clean[twitter_archive_clean.doggo == True].Full_text.sample(10)

746     Here's a doggo questioning his entire existence.  someone tell him he's a good boy
1117    This is Kyle (pronounced 'Mitch'). He strives to be the best doggo he can be.  would pat on head approvingly
1141    Here's a doggo struggling to cope with the winds.
731     This is Combo. The daily struggles of being a doggo have finally caught up with him.
318     Here's a doggo fully pupared for a shower. H*ckin exquisite balance. Sneaky tongue slip too.
448     This is Sunny. She was also a very good First Doggo.  would also be an absolute honor to pet
807     Doggo will persevere. \n
440     Here we have a doggo who has messed up. He was hoping you wouldn't notice.  someone help him
624     Elder doggo does a splash. Both  incredible stuff
211     RT @dog_rates: This is Astrid. She's a guide doggo in training.  would follow anywhere
Name: Full_text, dtype: object

In [40]:
twitter_archive_clean[twitter_archive_clean.floofer == True].Full_text.sample(10)

1614    Say hello to Petrick. He's an Altostratus Floofer. Just had a run in with a trash bag. Groovy checkered floor.
200     At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two.  only send dogs
46      Meet Grizzwald. He may be the floofiest floofer I ever did see. Lost eyes saving a schoolbus from a volcano erpuption.  heroic as h*ck
1022    Here's a golden floofer helping with the groceries. Bed got in way. Still  helpful af (vid by @categoen)
984     This is Blu. He's a wild bush Floofer. I wish anything made me as happy as bushes make Blu.  would frolic with
1110    This is Moose. He's a Polynesian Floofer. Dapper af.  would pet diligently
774     Atlas rolled around in some chalk and now he's a magical rainbow floofer.  please never take a bath
1091    Just wanted to share this super rare Rainbow Floofer in case you guys haven't seen it yet.  colorful af
1534    Here we are witnessing a rare High Stepping Alaskan Floofer.  dangerously petable (vid by @TheMrsNux)
582     This is Doc. He takes time out of every day to worship our plant overlords.  quite the floofer
Name: Full_text, dtype: object

In [41]:
twitter_archive_clean[twitter_archive_clean.pupper == True].Full_text.sample(10)

1797    This is the happiest pupper I've ever seen.  would trade lives with
962     Meet Milo. He hauled ass until he ran out of treadmill and then passed out from exhaustion.  sleep tight pupper
1625    This little fella really hates stairs. Prefers bush.  legendary pupper
1401    I know this is a tad late but here's a wonderful Valentine's Day pupper
1928    Herd of wild dogs here. Not sure what they're trying to do. No real goals in life.  find your purpose puppers
993     This is one of the most reckless puppers I've ever seen. How she got a license in the first place is beyond me.
1723    This pupper is not coming inside until she catches a snowflake on her tongue.  the determination is palpable
1720    Say hello to Kawhi. He was doing fine until his hat fell off. He got it back though.  deep breaths pupper
599     RT @dog_rates: Here we see a rare pouched pupper. Ample storage space. Looks alert. Jumps at random. Kicked open that door.
1395    This is Cooper. He began to tear up when his bone was taken from him.  stay strong pupper
Name: Full_text, dtype: object

In [42]:
twitter_archive_clean[twitter_archive_clean.puppo == True].Full_text.sample(10)

439     This is Oliver. He has dreams of being a service puppo so he can help his owner.  selfless af\n\nmake it happen:\n
228     Jerry just apuppologized to me. He said there was no ill-intent to the slippage. I overreacted I admit. Pupgraded to an  would pet
554     This is Diogi. He fell in the pool as soon as he was brought home. Clumsy puppo.  would pet until dry
85      Meet Venti, a seemingly caffeinated puppoccino. She was just informed the weekend would include walks, pats and scritches.  much excite
94      This is Sebastian. He can't see all the colors of the rainbow, but he can see that this flag makes his human happy.  #PrideMonth puppo
1048    This is Kilo. He cannot reach the snackum. Nifty tongue, but not nifty enough.  maybe one day puppo
274     @0_kelvin_0 &gt; is reserved for puppos sorry Kevin
14      This is Stuart. He's sporting his favorite fanny pack. Secretly filled with bones only.  puppared puppo #BarkWeek
643     Say hello to Lily. She's pupset that her costume doesn't fit as well as last year.  poor puppo
129     This is Shikha. She just watched you drop a skittle on the ground and still eat it. Could not be less impressed.  superior puppo
Name: Full_text, dtype: object

**Issue:** table `twitter_archive_clean`, `name` column contains several incorrect names (assigned 'a')

**Define:** use str.contains to find the correct names and replace the incorrected names("a" and "None").

In [43]:
# GET ALL CORRECT NAMES
# select 
nan_name = twitter_archive_clean.query('name == "a" or name == "None"')
# pattern 1: named xxx, pattern 2: name is xxx
corrected_names = pd.DataFrame()
patterns = ['(named\s(\w+))','(name\sis\s(\w+))']
for pat in patterns:
    names = nan_name.Full_text.str.extract(pat)[1].dropna().to_frame()
    corrected_names = corrected_names.append(names)

In [44]:
# reset the indices and rename the column in a more decriptive way.
corrected_names = corrected_names.reset_index()
corrected_names = corrected_names.rename(columns = {'index':'ind',1:'cor_name'})

In [45]:
twitter_archive_clean.name[603]

'None'

In [46]:
# replace the incorrect names with the correct name.
length = len(corrected_names)
for i in range(length):
    twitter_archive_clean.name[corrected_names.ind[i]] = corrected_names.cor_name[i]

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [47]:
# text
a = twitter_archive_clean.query('name == "a" or name == "None" and Full_text.str.contains("name|call")',engine='python')

a[['name','Full_text']].sample(10)

,name,Full_text
1193,a,People please. This is a Deadly Mediterranean Plop T-Rex. We only rate dogs. Only send in dogs. Thanks you...
1361,a,This is a Butternut Cumberfloof. It's not windy they just look like that. back at it again with the red socks
1017,a,This is a carrot. We only rate dogs. Please only send in dogs. You all really should know this by now ...
2354,a,This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. would walk the shit out of
2327,a,This is a southern Vesuvius bumblegruff. Can drive a truck (wow). Made friends with 5 other nifty dogs (neat).
1002,a,This is a mighty rare blue-tailed hammer sherk. Human almost lost a limb trying to take these. Be careful guys.
1877,a,C'mon guys. We've been over this. We only rate dogs. This is a cow. Please only submit dogs. Thank you......
600,None,"RT @dog_rates: I shall call him squishy and he shall be mine, and he shall be my squishy."
1596,None,When bae calls your name from across the room. (vid by @christinemcc98)
1854,a,Seriously guys?! Only send in dogs. I only rate dogs. This is a baby black bear...

**Issue:** table `twitter_archive_clean`, contains retweeted tweets (without image)

**Define:** merge table `img_pred_clean` to `twitter_archive_clean`.

In [48]:
twitter_archive_clean = twitter_archive_clean.merge(img_pred_clean,left_on='tweet_id',right_on='tweet_id')

In [49]:
# test
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 0 to 2074
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2075 non-null   int64
 1   timestamp           2075 non-null   datetime64[ns, UTC]
 2   source              2075 non-null   object
 3   text                2075 non-null   object
 4   expanded_urls       2075 non-null   object
 5   rating_numerator    2075 non-null   int32
 6   rating_denominator  2075 non-null   int32
 7   name                2075 non-null   object
 8   doggo               2075 non-null   bool
 9   floofer             2075 non-null   bool
 10  pupper              2075 non-null   bool
 11  puppo               2075 non-null   bool
 12  url                 2075 non-null   object
 13  rate                2075 non-null   object
 14  Full_text           2075 non-null   object
 15  jpg_url             2075 non-null   object
 16  img_num             2075 non-null   int64
 17  p1                  2075 non-null   object
 18  p1_conf             2075 non-null   float64
 19  p1_dog              2075 non-null   bool
 20  p2                  2075 non-null   object
 21  p2_conf             2075 non-null   float64
 22  p2_dog              2075 non-null   bool
 23  p3                  2075 non-null   object
 24  p3_conf             2075 non-null   float64
 25  p3_dog              2075 non-null   bool
dtypes: bool(7), datetime64[ns, UTC](1), float64(3), int32(2), int64(2), object(11)
memory usage: 322.2+ KB

**Issue:** table `df_api`, column `display_text_range` have '[]' and starting point of the range.

**Define:** extract the length of the text from list objects.

In [50]:
df_api_clean['text_len'] = pd.DataFrame({'text_len':df_api_clean.display_text_range[i][1]} for i in range(len(df_api_clean)))

In [51]:
df_api_clean.head()

,id,display_text_range,retweet_count,favorite_count,text_len
0,666020888022790149,"[0, 131]",466,2434,131
1,666029285002620928,"[0, 139]",42,121,139
2,666033412701032449,"[0, 130]",41,113,130
3,666044226329800704,"[0, 137]",133,274,137
4,666049248165822465,"[0, 120]",41,99,120

In [52]:
df_api_clean = df_api_clean.rename(columns={'id':'tweet_id'})

In [53]:
df_api_clean = df_api_clean.drop('display_text_range',axis = 1)

In [54]:
df_api_clean.head()

             tweet_id retweet_count favorite_count  text_len
0  666020888022790149  466           2434           131
1  666029285002620928  42            121            139
2  666033412701032449  41            113            130
3  666044226329800704  133           274            137
4  666049248165822465  41            99             120

**Issue:** Erroneous datatypes `tweet_id`, `retweet_count` and `favorite_count`.

**Define:** convert strings to int64 using `astype()`

In [55]:
df_api_clean.retweet_count = df_api_clean.retweet_count.astype('int64')
df_api_clean.favorite_count = df_api_clean.favorite_count.astype('int64')
df_api_clean.tweet_id = df_api_clean.tweet_id.astype('int64')

In [56]:
# test
df_api_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2059 non-null   int64
 1   retweet_count   2059 non-null   int64
 2   favorite_count  2059 non-null   int64
 3   text_len        2059 non-null   int64
dtypes: int64(4)
memory usage: 64.5 KB

merge `df_api_clean` table to `twitter_archive_clean` table

In [57]:
# merge df_api_clean and twitter_archive_clean to twitter_clean
twitter_clean = twitter_archive_clean.copy()

In [58]:
twitter_clean = twitter_clean.merge(df_api_clean,left_on='tweet_id',
    right_on='tweet_id')

In [59]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2059 entries, 0 to 2058
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2059 non-null   int64
 1   timestamp           2059 non-null   datetime64[ns, UTC]
 2   source              2059 non-null   object
 3   text                2059 non-null   object
 4   expanded_urls       2059 non-null   object
 5   rating_numerator    2059 non-null   int32
 6   rating_denominator  2059 non-null   int32
 7   name                2059 non-null   object
 8   doggo               2059 non-null   bool
 9   floofer             2059 non-null   bool
 10  pupper              2059 non-null   bool
 11  puppo               2059 non-null   bool
 12  url                 2059 non-null   object
 13  rate                2059 non-null   object
 14  Full_text           2059 non-null   object
 15  jpg_url             2059 non-null   object
 16  img_num             2059 non-null   int64
 17  p1                  2059 non-null   object
 18  p1_conf             2059 non-null   float64
 19  p1_dog              2059 non-null   bool
 20  p2                  2059 non-null   object
 21  p2_conf             2059 non-null   float64
 22  p2_dog              2059 non-null   bool
 23  p3                  2059 non-null   object
 24  p3_conf             2059 non-null   float64
 25  p3_dog              2059 non-null   bool
 26  retweet_count       2059 non-null   int64
 27  favorite_count      2059 non-null   int64
 28  text_len            2059 non-null   int64
dtypes: bool(7), datetime64[ns, UTC](1), float64(3), int32(2), int64(5), object(11)
memory usage: 368.0+ KB

**Issue:** table `twitter_archive_clean`, contains retweeted tweets (RT, and identical retweet counts)

**Define:** remove rows that `Full_text` column with pattern: RT @xxxx

In [60]:
RT = (twitter_clean.Full_text.str.contains('RT\s@\w+') == True)
twitter_clean[RT]['Full_text']

32      RT @dog_rates: This is Lilly. She just parallel barked. Kindly requests a reward now.  would pet so well
67      RT @rachel2195: @dog_rates the boyfriend and his soaking wet pupper h*cking love his new hat
107     RT @rachaeleasler: these @dog_rates hats are  bean approved
130     RT @tallylott: h*ckin adorable promposal.  @dog_rates
167     RT @eddie_coe98: Thanks @dog_rates completed my laptop.  would buy again
                                          ...
745     RT @dog_rates: This is Rubio. He has too much skin.
762     RT @dog_rates: Everyone needs to watch this.
1022    RT @twitter: @dog_rates Awesome Tweet! . Would Retweet. #LoveTwitter
1963    RT @dogratingrating: Exceptional talent. Original humor. Cutting edge, Nova Scotian comedian.
1964    RT @dogratingrating: Unoriginal idea. Blatant plagiarism. Curious grammar. -
Name: Full_text, Length: 72, dtype: object

In [61]:
RT_ind = twitter_clean[RT].index

In [62]:
twitter_clean = twitter_clean.drop(RT_ind,axis=0).reset_index()

In [63]:
# test
sum(twitter_clean.Full_text.str.contains('RT\s@\w+') == True)

0

### 3.3 Export clean data

In [64]:
# Drop columns that we are not interested in.
drop_columns = ['text','expanded_urls','url','rate','jpg_url']
twitter_clean.drop(drop_columns,axis=1,inplace=True)

In [65]:
# test
twitter_clean.head()

,index,tweet_id,timestamp,source,rating_numerator,rating_denominator,name,doggo,floofer,pupper,...,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,text_len
0,0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,13,10,Phineas,False,False,False,...,False,bagel,0.085851,False,banana,0.076110,False,7759,36489,85
1,1,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,13,10,Tilly,False,False,False,...,True,Pekinese,0.090647,True,papillon,0.068957,True,5752,31449,138
2,2,891815181378084864,2017-07-31 00:18:03+00:00,Twitter for iPhone,12,10,Archie,False,False,False,...,True,malamute,0.078253,True,kelpie,0.031379,True,3808,23699,121
3,3,891689557279858688,2017-07-30 15:58:51+00:00,Twitter for iPhone,13,10,Darla,False,False,False,...,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,7926,39825,79
4,4,891327558926688256,2017-07-29 16:00:24+00:00,Twitter for iPhone,12,10,Franklin,False,False,False,...,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,8555,38021,138

In [66]:
# create a csv file for clean data.
twitter_clean.to_csv('twitter_archive_master.csv', sep=',', encoding='utf-8',index=False);

In [67]:
# create a sqlite database for clean data.
engine = create_engine('sqlite:///twitter_archive_master.db', echo=False)
twitter_clean.to_sql('twitter_archive_master', con=engine,if_exists='replace')

## 4 Exploratory Data Analysis
In this section, we use the clean data to answer the following questions:
* Which tweet has the most retweets and/or the most likes?
* Which breed of dogs has the most tweets based on the predictions, what about the trend of breeds?
* What is the trend of average content length?
* Any relationship beween retweet count and favorite count?
* What are the key metric for retweets count?

In [68]:
df = pd.read_csv('twitter_archive_master.csv')

In [69]:
df.head()

,index,tweet_id,timestamp,source,rating_numerator,rating_denominator,name,doggo,floofer,pupper,...,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,text_len
0,0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,13,10,Phineas,False,False,False,...,False,bagel,0.085851,False,banana,0.076110,False,7759,36489,85
1,1,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,13,10,Tilly,False,False,False,...,True,Pekinese,0.090647,True,papillon,0.068957,True,5752,31449,138
2,2,891815181378084864,2017-07-31 00:18:03+00:00,Twitter for iPhone,12,10,Archie,False,False,False,...,True,malamute,0.078253,True,kelpie,0.031379,True,3808,23699,121
3,3,891689557279858688,2017-07-30 15:58:51+00:00,Twitter for iPhone,13,10,Darla,False,False,False,...,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,7926,39825,79
4,4,891327558926688256,2017-07-29 16:00:24+00:00,Twitter for iPhone,12,10,Franklin,False,False,False,...,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,8555,38021,138

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               1987 non-null   int64
 1   tweet_id            1987 non-null   int64
 2   timestamp           1987 non-null   object
 3   source              1987 non-null   object
 4   rating_numerator    1987 non-null   int64
 5   rating_denominator  1987 non-null   int64
 6   name                1987 non-null   object
 7   doggo               1987 non-null   bool
 8   floofer             1987 non-null   bool
 9   pupper              1987 non-null   bool
 10  puppo               1987 non-null   bool
 11  Full_text           1987 non-null   object
 12  img_num             1987 non-null   int64
 13  p1                  1987 non-null   object
 14  p1_conf             1987 non-null   float64
 15  p1_dog              1987 non-null   bool
 16  p2                  1987 non-null   object
 17  p2_conf             1987 non-null   float64
 18  p2_dog              1987 non-null   bool
 19  p3                  1987 non-null   object
 20  p3_conf             1987 non-null   float64
 21  p3_dog              1987 non-null   bool
 22  retweet_count       1987 non-null   int64
 23  favorite_count      1987 non-null   int64
 24  text_len            1987 non-null   int64
dtypes: bool(7), float64(3), int64(8), object(7)
memory usage: 293.1+ KB

In [71]:
df_clean = df.copy()

### 4.1 Data clean

Based on the questions mentioned above, table `df` are modified by the following steps:
* **Drop columns related with prediction 2 and prediction 3**: Since prediction 1 has the highest confidence, prediction 1 is used as the final results.
* **Create new columns `Month`,`DayofWeek`,`Time`**：month, day of week and time are extracted and stored individually to study different trends over time.

#### 4.1.1 Drop columns related with prediction 2 and prediction 3

In [72]:
drop_cols= ['p2','p2_conf','p2_dog','p3','p3_conf','p3_dog']
df_clean.drop(drop_cols,axis=1,inplace = True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               1987 non-null   int64
 1   tweet_id            1987 non-null   int64
 2   timestamp           1987 non-null   object
 3   source              1987 non-null   object
 4   rating_numerator    1987 non-null   int64
 5   rating_denominator  1987 non-null   int64
 6   name                1987 non-null   object
 7   doggo               1987 non-null   bool
 8   floofer             1987 non-null   bool
 9   pupper              1987 non-null   bool
 10  puppo               1987 non-null   bool
 11  Full_text           1987 non-null   object
 12  img_num             1987 non-null   int64
 13  p1                  1987 non-null   object
 14  p1_conf             1987 non-null   float64
 15  p1_dog              1987 non-null   bool
 16  retweet_count       1987 non-null   int64
 17  favorite_count      1987 non-null   int64
 18  text_len            1987 non-null   int64
dtypes: bool(5), float64(1), int64(8), object(5)
memory usage: 227.2+ KB

#### 4.1.2 create new columns `Month`, `DayofWeek`, `Time`

In [73]:
# create a year column:
df_clean.timestamp = pd.to_datetime(df_clean.timestamp)

In [74]:
df_clean.timestamp.min(), df_clean.timestamp.max()

(Timestamp('2015-11-15 22:32:08+0000', tz='UTC'),
 Timestamp('2017-08-01 16:23:56+0000', tz='UTC'))

In [75]:
df_clean['Month'] = df_clean.timestamp.dt.month

In [76]:
df_clean['DayofWeek'] = df_clean.timestamp.dt.dayofweek

In [77]:
df_clean['PartsOfDay'] = df_clean.timestamp.dt.hour

In [78]:
df_clean[['Month','DayofWeek','PartsOfDay']].describe()

             Month    DayofWeek   PartsOfDay
count  1987.000000  1987.000000  1987.000000
mean   7.162557     2.842476     9.719175
std    4.123624     2.002226     8.618912
min    1.000000     0.000000     0.000000
25%    3.000000     1.000000     1.000000
50%    7.000000     3.000000     4.000000
75%    11.000000    5.000000     18.000000
max    12.000000    6.000000     23.000000

### 4.2 Data analysis and Visualization

#### 4.2.1  Which tweet has the most retweets and/or the most likes?

In [85]:
def top_10(df,column):
    top_10 = df.sort_values(by=[column],ascending=False)[[column,
                                           'Full_text','p1']].head(10)
    return top_10

In [86]:
top_10(df_clean,'retweet_count')

,retweet_count,Full_text,p1
769,78486,Here's a doggo realizing you can stand in a pool. enlightened af (vid by Tina Conrad),Labrador_retriever
804,58202,Here's a doggo blowing bubbles. It's downright legendary. would watch on repeat forever (vid by Kent Duryee),Eskimo_dog
396,57246,This is Stephan. He just wants to help. such a good boy,Chihuahua
305,44250,Here's a super supportive puppo participating in the Toronto #WomensMarch today.,Lakeland_terrier
58,40903,This is Duddles. He did an attempt. someone help him (vid by Georgia Felici),English_springer
329,37744,This is Bo. He was a very good First Doggo. would be an absolute honor to pet,standard_poodle
398,35797,"""Good afternoon class today we're going to learn what makes a good boy so good""",Arabian_camel
107,33221,"This is Jamesy. He gives a kiss to every other pupper he sees on his walk. such passion, much tender",French_bulldog
1417,31633,This made my day. please enjoy,swing
1475,30582,This is Kenneth. He's stuck in a bubble. hang in there Kenneth,bubble

In [87]:
top_10(df_clean,'favorite_count')

,favorite_count,Full_text,p1
769,157726,Here's a doggo realizing you can stand in a pool. enlightened af (vid by Tina Conrad),Labrador_retriever
305,134376,Here's a super supportive puppo participating in the Toronto #WomensMarch today.,Lakeland_terrier
396,121747,This is Stephan. He just wants to help. such a good boy,Chihuahua
107,117330,"This is Jamesy. He gives a kiss to every other pupper he sees on his walk. such passion, much tender",French_bulldog
804,116437,Here's a doggo blowing bubbles. It's downright legendary. would watch on repeat forever (vid by Kent Duryee),Eskimo_dog
58,100055,This is Duddles. He did an attempt. someone help him (vid by Georgia Felici),English_springer
329,88869,This is Bo. He was a very good First Doggo. would be an absolute honor to pet,standard_poodle
134,87243,We only rate dogs. This is quite clearly a smol broken polar bear. We'd appreciate if you only send dogs. Thank you...,Angora
92,79103,This is Zoey. She really likes the planet. Would hate to see willful ignorance and the denial of fairly elemental science destroy it.,golden_retriever
1417,79020,This made my day. please enjoy,swing